[2020-08-25 17:24] evilebottnawi commented on #316
Should work, anyway I prepare new release https://github.com/webpack-contrib/html-loader/pull/317 and you can use:
[code]

[2020-08-26 07:43] buc-htl3r opened #318 "Templating - setting the data"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [x ] Not Sure?

### Please Explain in Detail...

I'm not sure if this is missing in the documention or if it is a feature request. On other channels like stackoverflow I didn't receive any positive answers to my question.

The [documentation](https://webpack.js.org/loaders/html-loader/#templating) explains how to use a template system

[2020-08-26 09:43] evilebottnawi commented on #318
We don't support templates, you need to use loader in this case or preprocessor option https://github.com/webpack-contrib/html-loader#templating

[2020-08-26 09:43] #318 closed

[2020-08-26 09:50] buc-htl3r commented on #318
The preprocessor option is exactly the feature I'm refering to!

[2020-08-26 10:20] evilebottnawi commented on #318
@buc-htl3r what do you want to document?

[2020-08-26 10:58] buc-htl3r commented on #318
As I wrote initially I‘m not sure if the documentation is missing or the feature. I process a handlebar template as described in the link you mentioned. But as it is the purpose of a template, I would like to use the same template (o.e. .hbs file) to generate multiple html pages. For each generated page the provided data changes. How can I achieve this using the preprocessor? How can I set the dat

[2020-08-26 11:11] evilebottnawi commented on #318
@buc-htl3r Can you provide configuration or simple example how you try to achieve this?

[2020-08-27 07:49] buc-htl3r commented on #318
Sure! In the example I would like to generate the pages "productA.html" and "productB.html" using the same template "src/product_template.hbs". My question is how I can set different data for the two pages in the preprocessor.

[code]

[2020-08-27 12:11] evilebottnawi commented on #318
@buc-htl3r You can use `json` files for this

[2020-08-27 14:29] buc-htl3r commented on #318
@evilebottnawi How should it work with json files? Suppose I have a json as below. How can the preprocessor know which entry of the array it should take?

[code]
Thanks for your support!

[2020-08-27 14:33] evilebottnawi commented on #318
[code]

[2020-08-27 14:51] buc-htl3r commented on #318
@evilebottnawi I try to follow your thoughts but I don't get them. In the preprocessor I use the [handlebars](https://handlebarsjs.com/api-reference/runtime-options.html) library and I pass the data to the current compilation. How can I determine within the preprocessor if it is currently handling "path/to/fileA" or "path/to/fileB"? How does your json structure help? The example below won't work a

[2020-08-27 16:31] evilebottnawi commented on #318
You need to load options manually, not pass them all:
[code]

[2020-08-27 16:57] buc-htl3r commented on #318
If I look at loaderContext.resourcePath it contains the path to the template and not to the final file. Anyways, it doesn't seem possible what I want to achive as the loader seems to be called only once for each template.

But then I don't understand the documented feature. What sense does it make to use a template with placeholders if I cannot use the template with different values for the placeh

[2020-08-31 06:07] Chryseis commented on #291
it doesn't seem to trigger hot updates

[2020-08-31 11:17] lucianogreiner commented on #291
Yes, changing the partials doesn't trigger the hot updates, correct. That's a limitation. I didn't want to expend much time on it, although. There might be a work around for that I bet.

[2020-09-01 12:02] yangdan8 opened #319 "Error when decoding special characters in decodeURIComponent in source-plugin.js"
Latest code:
/dist/plugins/source-plugin.js: line 586
const importKey = (0, _loaderUtils.urlToRequest)(decodeURIComponent(source.value), root);

Error:
URIError: URI malformed

decodeURIComponent

source-plugin.js:586 process
[html-loader]/dist/plugins/source-plugin.js:586:5 4

utils.js:26 Object.process
[html-loader]/dist/utils.js:26:19

URIError: URI malformed

compiler.js:80
[html-webpack-plugi

[2020-09-01 12:12] evilebottnawi commented on #319
Because it is invalid url and can't be resolved, please create reproducible test repo

[2020-09-03 17:55] andreicvasniuc opened #320 "html-leader is not working well in pair with ngtemplate-loader starting from version 1.0.0"
- Operating System: Ubuntu 20.04 LTS
- Node Version: 12.18.3
- NPM Version: 6.14.6
- webpack Version: 4.44.1
- html-loader Version: >= 1.0.0

### Expected Behavior

To load ng templates for angularjs

### Actual Behavior

Module parse failed: Unexpected token (3:0)
File was processed with these loaders:
 * ./node_modules/ngtemplate-loader/index.js
 * ./node_modules/html-loader/dist/cjs.js
You may

[2020-09-04 11:40] evilebottnawi commented on #320
Please report the issue in `ngtemplate-loader`

[2020-09-09 11:15] St-Ex-savadenn commented on #291
You may add reactivity with `loaderContext.dependency` [Doc](https://webpack.js.org/api/loaders/#thisadddependency)

[code]

[2020-09-11 21:08] GuillermoCasanova commented on #316
I've tried this exactly but it did not work,  instead I did this:

[code]

Which worked, but then <source> tags using data-srcset or srcset with dynamic images prevent compilation, like this for example:

[code]

Error is:
**Bad value for attribute "data-srcset" on element "source":**

Thanks

[2020-09-12 12:53] evilebottnawi commented on #316
You need to use urlFilter and filter non standard urls

[2020-09-14 15:15] GuillermoCasanova commented on #316
I've tried that as well as I still get the same error. My code below:

[code]

Currently it doesn't hit the console.log on any URLS with non-standard urls. It immediately errors on any non-standard URLS before the urlFilter function gets to run it seems. Is this related to file-loader instead?

[2020-09-17 06:27] yangdan8 commented on #319
![image](https://user-images.githubusercontent.com/16515026/93428323-d0ac9700-f8f1-11ea-970e-fc3d97f702d7.png)

[2020-09-17 06:27] yangdan8 commented on #319
decodeURIComponent('./<%- htmlWebpackPlugin.options.assetsFileName %>.umd.js')

[2020-09-17 10:47] evilebottnawi commented on #319
Because you have non valid URL, please use `urlFilter` to avoid resolving them

[2020-09-17 10:47] #319 closed

[2020-09-18 04:06] yangdan8 commented on #319
The error comes from @vue/cli-service/node_modules/html-webpack-plugin calling this function

[2020-09-18 11:17] evilebottnawi commented on #319
So please create this issue in `html-webpack-plugin`

[2020-09-21 11:48] devRoemer opened #323 "Input type is removed and breaks css"
- Operating System: Windows
- Node Version: 12.18.3
- NPM Version: 6.3.0
- webpack Version: 4.44.1
- html-loader Version: >= 1.2.0 (tested also with 1.3.0)

### Expected Behavior
Inputs like this are not changed:
[code]

### Actual Behavior
Type text is removed because it is browser default:
[code]

### Code
Webpack-Config-Snippet
[code]
Full config: https://justpaste.it/4xbub

### How Do We Repro

[2020-09-21 12:30] evilebottnawi commented on #323
Please use the issue template, `removeRedundantAttributes` is safe

[2020-09-21 12:47] devRoemer commented on #323
@evilebottnawi
In the referenced issue there are others with the same problem. As long as there is no css that relies on input[type="text"] it is safe that the minification removes the type="text" block of inputs. The browsers renders the input correctly.
Otherwise the change could destroy the layout of a page.

From my point of view it is a regression of #35. One could argue that removeRedundantA

[2020-09-21 12:50] evilebottnawi commented on #323
@devRoemer please format the issue using the issue template and I will reopen

[2020-09-21 13:20] devRoemer commented on #323
@evilebottnawi thanks. I've changed the description.

[2020-09-21 13:45] evilebottnawi commented on #323
yep, bug, WIP

[2020-09-21 14:00] #323 closed

[2020-09-22 06:59] brettinternet opened #325 "Allow URLs with absolute file paths"
- Operating System: Linux
- Node Version: `13.9.0`
- NPM Version: `6.14.7`
- webpack Version: `4.44.1`
- html-loader Version: `1.3.0`

### Feature Proposal

Allow URLs with an absolute file path.

[code]

As far as I know, this is not currently possible:

### Feature Use Case

Deriving the relative path for sources within multiple nested HTML documents within a project can be tedious, especially i

[2020-09-22 10:01] evilebottnawi commented on #325
Why you need this? You can rewrite your code

[2020-09-22 17:02] brettinternet commented on #325
I use a templating engine which compiles various templates within varying depths of relativity in the build directory. This is particularly an issue with partials. So a partial may reference an asset outside the build context such as `../src/images/pizza.png`, but within the build directory `build` only `/index.html` will correctly reference the asset and while `/product/pizza/index.html` will not

[2020-09-22 17:05] brettinternet commented on #325
Another workaround I've thought of (but haven't tried yet) is to use the `preprocess` method in the loader options along with `posthtml`, [`posthtml-urls`](https://github.com/posthtml/posthtml-urls) and `path.relative` to rewrite the URLs into a relative state. Perhaps this is the most viable implementation.

However, I'm still under the impression that absolute paths are much easier to work with

[2020-09-22 17:06] evilebottnawi commented on #325
Please provide minimum reproducible test repo, we handle `/` server relative urls, but we will not handle absolute URLs, also this urls is invalid and you need to use `file://`

[2020-09-22 17:07] evilebottnawi commented on #325
Also you can use `alias` for cases where you can rewrite original code

[2020-09-22 17:29] brettinternet commented on #325
I will try the `preprocess` method.

Could you example what you mean by using `file://`? I haven't seen any documentation on its usage in Webpack.

[2020-09-22 17:37] evilebottnawi commented on #325
`file://` it is browser protocol to handle locals files

[2020-09-22 17:53] #325 closed

[2020-09-25 23:23] brettinternet commented on #139
For anyone who has landed here from a search engine, I believe this is the correct method:

[code]

[2020-09-28 10:16] evilebottnawi commented on #139
@brettinternet PR welcome

[2020-10-03 12:24] x35a commented on #284
Hi all. I've face the same problem.
so is there an option to insert a `<script src=''>` tag with correct src path?
@dipeshba @evilebottnawi

[2020-10-12 10:12] fwh1990 commented on #195
And webpack@5 is released now, what to do next step?

[2020-10-19 21:23] frangio opened #329 ""Process script and link tags" example doesn't work"
- Operating System: Arch Linux on Linux 5.8.13
- Node Version: 12.9.0
- NPM Version: 6 .14.8
- webpack Version: 5.1.3 (cli 4.1.0)
- html-loader Version: 1.3.2

### Expected Behavior

Script tag with a `src` attribute to a file that is processed by `file-loader` should emit the script tag with the `src` pointing to the asset generated by Webpack.

### Actual Behavior

The js file corresponding to t

[2020-10-20 10:25] evilebottnawi commented on #329
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-20 10:25] evilebottnawi commented on #329
I will reopen this after you fix the problem

[2020-10-20 14:22] frangio commented on #329
@evilebottnawi Done.

[2020-10-20 14:27] evilebottnawi commented on #329
I see, but in `extract-loader` :disappointed: We can't fix it here :disappointed:

[2020-10-20 14:28] evilebottnawi commented on #329
You can avoid using `document` in favor `this`/`globalThis`

[2020-10-20 15:07] frangio commented on #329
I don't think that would fix the issue. The javascript shouldn't be evaluted at all.

The example should probably be removed from the readme.

[2020-10-20 17:29] steveetm commented on #291
Another workaround if anyone interested.

(When migrated from webpack 3 to webpack 5, removal of interpolation heavily impacted us too. I don't want to argue, we definitely did something bad, but migrate everything in the codebase was not something we want to do, only in smaller chunks.
I also looked into potential workarounds/doing a fork to bring back interpolation, but didn't like those options

[2020-10-20 17:33] evilebottnawi commented on #291
@ItalyPaleAle Good idea, but my recommendation is avoid interpolate :smile:

[2020-10-21 14:04] terox commented on #329
@frangio I am experiencing the same issues.

The javascript is evaluated and it shouldn't be evaluated. The error comes from **extract-loader** but seems that there isn't any issue that notify that error recently. Then, is the example working with a specific version of ```extract-loader```? Could we resolve it with an other pipeline? @evilebottnawi

[2020-10-21 14:08] evilebottnawi commented on #329
Please open an issue in `extract-loader` repo, I don't know why evaluate this, if they need this, they should provide document object

[2020-10-23 20:23] bigskillet commented on #259
Having these attributes as default would be awesome. In the meantime, is there some way to add these manually?

[2020-10-24 12:29] evilebottnawi commented on #259
I think it is easy to implement, feel free to send a PR

[2020-11-01 05:18] dleangen opened #330 "URL is getting truncated"
- Operating System: MacOS
- Node Version: 14.13.0
- NPM Version: 6.14.8
- webpack Version: 4.42.1
- html-loader Version: 1.3.2

### Expected Behavior
Within a partial, I am trying to include an svg image like so:

[code]

I am expecting the output to be something like this:

[code]

### Actual Behavior
The generated URL is truncated, like this:

[code]

Obviously, my icons cannot work.

### How Do

[2020-11-02 11:17] evilebottnawi commented on #330
Please create reproducible test repo

[2020-11-02 13:49] dleangen commented on #330
https://github.com/dleangen/url-test

Enjoy! 😀

[2020-11-03 16:29] ChoppinBlockParty commented on #17
Hi, it is not very clear to me, is `link:href` supported? I am trying

[code]

But does not get picked up by webpack.

[2020-11-04 18:49] azamanaza commented on #291
I made it recursive incase your partials have includes.

`
const processNestedHtml = (content, loaderContext) => {
  const matches = INCLUDE_PATTERN.test(content);
  if (!matches) {
    return content;
  }
  return content.replace(INCLUDE_PATTERN, (m, src) => {
    return processNestedHtml(fs.readFileSync(path.resolve(loaderContext.context, src), 'utf8'), loaderContext);
  });
}
`

`
module: {

[2020-11-06 19:09] ChoppinBlockParty commented on #17
I have all the suggestions from this topic, none has worked. Probably it is because I am on webpack 5, and many things have changed since then. I have ended up adding `link:href` to the attributes, works fine. I just wonder why it is not added by default, what was the concern there?

[2020-11-17 23:11] bigskillet commented on #259
Sorry, I'm not that good at javascript, so it wouldn't be that easy for me to include these attributes. I pulled it down and made an attempt, but didn't have much luck. In the meantime, is there some way to manually add these attributes using the list tag filter? I haven't had much luck with that either.

[2020-11-18 17:31] evilebottnawi commented on #259
WIP on this, release will be tomorrow

[2020-11-21 08:15] ziven27 opened #333 "how to ignore img srcset"
- Operating System: mac os
- Node Version: v12.16.3
- NPM Version: 6.14.8
- webpack Version: "^5.6.0"
- html-loader Version: "^1.3.2"

### Expected Behavior

[code]
I wanna html-loader ignore my srcset attributes, or just parse like src.

### Actual Behavior

[code]
and it show this error.
but it works fine on src attributes, when I write like this

[code]

### Code

[code]

I try to reset the def

[2020-11-25 03:48] ziven27 opened #334 "how to load img in <script>"
- Operating System: macos
- Node Version: v12.16.3
- NPM Version: 6.14.8
- webpack Version: ^5.6.0
- webpack-cli: 3.3.12
- html-loader Version: 1.3.2

### Expected Behavior

[code]

I hope it can render like this

[code]

### Actual Behavior

[code]

how to load the img in script?

### Code

[code]

[code]

### How Do We Reproduce?

[2020-11-25 10:15] john01dav opened #335 "Are there any complete examples?"
Documentation Is:

- [x] Missing
- [x] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
In the README.md of this repository, some code blocks are given that document how to use this tool, but as I'm new to webpack, I'm not quite sure how to use them and when I try it doesn't work (the way in which it fails is unimportant to this issue). As such, it would be helpful to see a

[2020-11-25 11:14] evilebottnawi commented on #335
Please read our documentation https://webpack.js.org/

Please open an issue in `posthtml-loader` or `posthtml` repo, we don't use this

[2020-11-25 11:14] #335 closed

[2020-11-25 11:17] evilebottnawi commented on #334
Exactly how you would use it in JS files. Sorry you missed part of our issue template so I can't help

[2020-11-25 11:17] #334 closed

[2020-11-28 09:24] RebelClone commented on #330
is there anyway to solve this i am facing the same issue

[2020-11-28 11:51] RebelClone commented on #330
i found the solution but dont know how to pull request

solution

let hash;
    const indexHash = normalizedUrl.lastIndexOf('#');
    if (indexHash >= 0) {
      hash = normalizedUrl.substr(indexHash);// due to normalizedUrl.substr(indexHash,indexHash)
      normalizedUrl = normalizedUrl.substr(0, indexHash);
    }

so if indexHash is smaller then the url was truncated bcux left side was smaller t

[2020-11-28 13:29] trullock commented on #17
@ChoppinBlockParty could you humour me with the complete webpack config snippet I need to do this using todays tool versions? Thanks

[2020-12-17 07:07] laozei6401 commented on #291
[code]
这是我通过上面代码整理的

[2020-12-20 15:44] Poofikate commented on #291
@laozei6401 this will only work with one include per page.
`if (!fs.existsSync(context)) {
      // return _;
      context = path.resolve(loaderContext.context, src);
    }`
 this will solve the problem

[2020-12-29 02:34] laozei6401 commented on #291
I found a problem, if you use replace, it will lead to the wrong path.

[2021-01-20 19:28] SMKrizan commented on #203
Unfortunately, the ``esModule: false`` solution is not doing the trick for me in what seems to be an identical instance.

[2021-02-01 00:39] panchoggit commented on #291
where????

[2021-02-01 00:39] panchoggit commented on #291
where????

[2021-02-06 14:44] #330 closed

[2021-02-09 01:14] dkrasnove commented on #17
@trullock, and for anybody who may come across this in the future if it hasn't been fixed, this works as of webpack 5.21.2:

[code]

[2021-02-10 10:52] #333 closed

[2021-02-10 10:53] alexander-akait commented on #320
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2021-02-10 10:53] #320 closed

[2021-02-10 11:00] alexander-akait commented on #329
Let' close in favor https://github.com/webpack-contrib/html-loader/issues/259, we still not support some edge cases for `style` and `script` tags, we need improve this

[2021-02-10 11:00] #329 closed

[2021-02-12 10:10] firestar300 opened #355 "// Module var code = ""
Hello !

- Operating System: Mac OS Big Sur 11.2.1
- Node Version: 12.18.3
- NPM Version: 6.14.6
- webpack Version: 4.41.6
- html-loader Version: 1.3.2

### Expected Behavior
The import should return a valid HTML code.

### Actual Behavior
The import returns stringify JS code that contains a variable and the HTML.
![Capture d’écran 2021-02-12 à 10 52 00](https://user-images.githubusercontent.com

[2021-02-12 10:24] alexander-akait commented on #355
Sorry, something wrong with configuration, as you can see somethings breaks exports, I don't say what is wrong because you don't provide reproducible test repo

[2021-02-12 10:39] firestar300 commented on #355
Here we go : https://github.com/firestar300/html-loader-issues-355

[2021-02-12 11:10] alexander-akait commented on #355
How I can redocue? Running `yarn bootstrap` doesn't reproduce the problem, to be honestly it looks like you apply `html-loader` twice, storybook always added `html-loader`, can you try to remove it from your configuraiton?

[2021-02-12 11:30] firestar300 commented on #355
That's it... Thank you and sorry for the waste of time. I remove the repo.

[2021-02-12 11:30] #355 closed

[2021-02-15 15:01] lopopolo opened #359 "include source type fails schema validation"
- Operating System: Arch Linux
- Node Version: v14.15.4
- NPM Version: 6.14.11
- webpack Version: 5.21.2
- html-loader Version: 2.0.0

### Expected Behavior

Configuring `html-loader` to include partials adds the HTML to the `index.html`

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

https://github.com/artichoke/www.artichokeruby.org/tree/da016d3d1fcef42ab0e4fb27085280ef

[2021-02-15 15:06] alexander-akait commented on #359
`include` is never supported and doesn't work for v1 or v2, but with the new release (v2), it is possible, I will improve this in the near future, let's close in favor https://github.com/webpack-contrib/html-loader/issues/291

[2021-02-15 15:06] #359 closed

[2021-02-15 15:08] lopopolo opened #360 "include of favicon in `link` tag with `href` fails when path begins with `../`"
- Operating System: Arch Linux
- Node Version: v14.15.4
- NPM Version: 6.14.11
- webpack Version: 5.21.2
- html-loader Version: 2.0.0

### Expected Behavior

`html-loader` can load resources outside of the current directory by traversing ".." directory components into a parent directory.

### Actual Behavior

Compilation failure

### Code

#### index.html

[code]

### partials/favicons.html

[code

[2021-02-15 15:15] alexander-akait commented on #360
You need to change `href` on valid URL, or you can use `resolve.alias`, nothing to fix here, sorry, because you don't provide reproducible test repo I can't help your

[2021-02-15 15:15] #360 closed

[2021-02-15 15:17] alexander-akait commented on #360
Try to use `<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />`

[2021-02-15 15:21] alexander-akait commented on #291
With v2 we can implement using `type` as `Function` (possible to implement), but here one edge case - `<img src="./assets/images.ext" alt="">`, you need rewrite `src`, but it is not possible, but we have other solutions supported out of box for webpack v5, you can use `<img src="/assets/images.ext" alt="">`, webpack tries to resolve `/assets/images.ext` relative to `context` (i.e. `context + '/ass

[2021-02-15 15:33] lopopolo commented on #359
@alexander-akait I did manage to get this to work by `require`ing the partial with an `html-loader!`, but the partial doesn't get inlined into the source and instead shows up as `[Module object]` or something like that. Is there an example of requiring an html partial and inlining it into an html page?

[2021-02-15 15:35] alexander-akait commented on #359
No, because it is not supported by v1 and v2, it is non standard for HTML, but I am working on it

[2021-02-15 19:27] lopopolo opened #361 "ReferenceError: URL is not defined in 2.0.0"
- Operating System: Arch Linux
- Node Version: v14.15.4
- NPM Version: 6.14.11
- webpack Version: 5.21.2
- html-loader Version: 2.0.0

### Expected Behavior

`html-loader` loads static assets in combination with `html-webpack-plugin`.

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

https://github.com/artichoke/www.artichokeruby.org/tree/webpack-html-loader-reproducer

[2021-02-15 19:30] alexander-akait commented on #361
Please look at stack trace, duplicate https://github.com/jantimon/html-webpack-plugin/issues/1602

[2021-02-15 19:30] #361 closed

[2021-02-15 19:39] lopopolo commented on #361
Thanks for pointing me to the upstream issue.

Was this breakage known before releasing 2.0.0? These two packages often go together and it would be lovely to have some tests in this repo to ensure the loader and plugin interoperate nicely.

I was able to work around this by passing `esModule: false` to `html-loader`'s options.

[2021-02-15 19:44] alexander-akait commented on #361
No, otherwise it was not happen :disappointed:

Yep, anyway no need rush, I think we will fix it tomorrow

[2021-02-15 21:51] benwilhelm opened #362 ""ReferenceError: URL is not defined" when using images in HTML Template and HtmlWebpackPlugin"
- Operating System: MacOS 10.14.6
- Node Version: 14.5.0
- NPM Version: 6.14.5
- webpack Version: 5.22.0
- html-loader Version: 2.0.0

### Expected Behavior

When using `<img src="./static/my-image.jpg" />` and including a rule of type "asset/resource", I expect to see an image file emitted to my dist directory, and an `img` tag with correct source attribute in the generated HTML. (Using HTML temp

[2021-02-16 10:18] alexander-akait commented on #362
Duplicate https://github.com/jantimon/html-webpack-plugin/issues/1602

[2021-02-16 10:18] #362 closed

[2021-02-18 19:09] alexander-akait commented on #291
https://github.com/webpack-contrib/html-loader/pull/364

[2021-02-21 09:15] shariult opened #368 "html-loader can not link images loaded by file-loader"
- Operating System: Windows 10
- Node Version: v14.15.5
- NPM Version: 6.14.11
- webpack Version: 5
- html-loader Version: 2.1.0

### Expected Behavior

After file-loader outputs images in the "outputPath", the path is exported in an image file in the dist directory. If you open the image as text you can see some code. Also html file contains the path of this invalid image.

### Actual Behavior

T

[2021-02-21 09:47] nil4 opened #369 "Regression in /favicon.ico handling (1.3.2 -> 2.x)"
- Operating System: Windows 10 (20H2)
- Node Version: 15.9.0
- NPM Version: 7.5.4
- webpack Version: 5.23.0
- html-loader Version: 2.1.0

### Expected Behavior

Upgrading from `html-loader@1.3.2` to `html-loader@2.x` handles `/favicon.ico` references in the template HTML file correctly.

### Actual Behavior

Upgrading from `html-loader@1.3.2` to `html-loader@2.1.0` breaks `/favicon.ico` references

[2021-02-21 22:43] idudinov commented on #318
hi there! let me chime in with a question which I believe is very related and can help to resolve the original issue.

Is it possible in `preprocessor` to get and use for a templating system the same JS context that will be used in a JS module exported by the `html-loader` plugin?

In case of underscore/lodash templates it could be webpack's `require` to import/include some other portions of html;

[2021-02-22 12:28] GallardoCode opened #370 "Can't resolve 'node_modules/html-loader/dist/runtime/getUrl.js' for processing attributes"
- Operating System: Windows 10
- Node Version: v14.15.5
- NPM Version: 7.5.4 or Yarn Version: 1.22.10
- webpack Version: 5.23.0
- html-loader Version: 2.1.0
- html-webpack-plugin Version: 5.2.0

### Expected Behavior

Index.html is loaded as a template with HtmlWebPackPlugin, html-loader is then used to process the attribute sources in the HTML. Using Webpack 5's asset modules, the resulting html

[2021-02-23 22:39] bigskillet commented on #368
Try setting `esModule` to `false`:
[code]

[2021-02-24 00:11] bigskillet opened #371 "msapplication source names not loading"
- webpack Version: **5.15.0**
- html-loader Version: **2.1.0**

### Expected Behavior

Meta tags with **msapplication** names to be loaded and hashed:

`<meta name="msapplication-square150x150logo" content="mstile-150x150-12345678.png" />`

### Actual Behavior

Meta tags with **msapplication** names are ignored and simply pass through:

`<meta name="msapplication-square150x150logo" content="mstile

[2021-02-24 11:53] alexander-akait commented on #370
Please create reproducible test repo

[2021-02-24 11:56] alexander-akait commented on #368
`file-loader` is deprecate for webpack v5, it is in readme for all loaders

Sorry, not enough to reproduce the problem, we have a lot of tests for `sources`, so please provide full reproducible test repo, if you need a help, won't fix right now

[2021-02-24 11:56] #368 closed

[2021-02-24 13:01] #371 closed

[2021-02-24 13:12] alexander-akait commented on #369
`file-loader` is depreacted for webpack v5, new verison of `html-loader` uses `new URL` syntax, so you need to migrate on https://webpack.js.org/guides/asset-modules/, if you want to still use `file-loader` you need to set `esModule: false` for `html-loader`
1. Solutions with migration

[code]

2. Solution without migration

[code]

[2021-02-24 13:12] #369 closed

[2021-02-24 13:13] alexander-akait commented on #369
Also for importing assets you can use `new URL('./image.png', import.meta.url)` syntax, it will work on Node.js, browser, deno and other envs where ES modules are supported, it is new way for bundling assets

[2021-02-24 15:27] nil4 commented on #369
@alexander-akait thank you very much for the examples provided -- I really appreciate them! Applying the solution with migration resolved the issue and simplified the dependencies as a nice side-benefit.

[2021-02-24 15:29] alexander-akait commented on #369
less deps - less problems

[2021-02-24 16:52] #370 closed

[2021-02-25 05:43] longSir666 opened #374 "2.x compile html with img error"
ERROR:

 __webpack_require__.b = require("url").pathToFileURL(__filename);
                                                                 ^
  ReferenceError: __filename is not defined

  **version eg:**

    "file-loader": "^6.2.0",
    "html-loader": "^2.1.1",
    "html-webpack-plugin": "4.5.1",
    "html-withimg-loader": "^0.1.16",
    "url-loader": "^4.1.1",
    "webpack": "5.12.0",
    "webp

[2021-02-25 11:30] alexander-akait commented on #374
Update `html-webpack-plugin` to v5

[2021-02-25 11:30] #374 closed

[2021-03-07 18:31] skoblenick opened #375 "can't find module introduced in patch from 2.1.0 to 2.1.1"
- Operating System: `MacOS Catalina 10.15.7`
- Node Version: `v14.16.0`
- NPM Version: `v7.6.1`
- webpack Version: `^5.24.3`
- html-loader Version: `2.1.0` + `2.1.1`

### Expected Behavior

Build would bundle resources without errors when bundling html,css,jpg as demonstrated in examples on webpack.js.org:

- https://webpack.js.org/loaders/html-loader/#export-into-html-files
- https://webpack.js.o

[2021-03-09 13:14] alexander-akait commented on #375
Bug in `extract-loader`... they do not support `file:///` URLs...

[2021-03-09 15:11] #375 closed

[2021-03-10 03:09] Soviut opened #378 "TypeError: this.getOptions is not a function"
- Operating System: Ubuntu (running in WSL2)
- Node Version: 14
- NPM Version: 6.14.8
- webpack Version: 4.46.0
- html-loader Version: 2.1.2

### Expected Behavior

I'm using the Nuxt framework and am trying to import a markdown file into my translation file. I installed the markdown-loader and the html-loader which are both required. I expected to be able to import the markdown file, have it proc

[2021-03-10 04:15] Soviut commented on #378
I wound up changing my webpack config to use raw-loader since all I really needed was the raw html string from markdown-loader.

[code]

Still, this seems worth reporting since every example shows markdown-loader used with html-loader.

[2021-03-10 10:53] XingtianLiu commented on #378
I  think ``webpack@4`` is not supported by v2, my ``devDependencies`` can work:

[code]

[2021-03-10 11:24] alexander-akait commented on #378
You need webpack v5 to use latest version, please read CHANGELOG

[2021-03-10 11:24] #378 closed

[2021-03-10 17:42] Soviut commented on #378
Ah, I see. I even tried using older versions of html-loader but didn't try anything lower than 2.0.

[2021-03-12 19:24] PabloDotcom opened #379 "Problem with migration from webpack 4 to 5. Html-loader strange behavior with @ngtools/webpack."
Hi there,
I do migration from webpack 4 to 5. For my development webpack configuration it works in the end, but for production one I have build issues. Looks like html goes out not as a string, but as a variable/module. I've got plenty of errors like following:
![Screen Shot 2021-03-12 at 8 20 59 PM](https://user-images.githubusercontent.com/2444883/110988261-9d166b00-8370-11eb-95af-2e3c6c02935b.p

[2021-03-13 13:22] alexander-akait commented on #379
`ng-container` is not HTML tag... so it is expected when parser failed with non standard markup

[2021-03-13 18:44] PabloDotcom commented on #379
hey @alexander-akait, thanks for trying to help. But with dev webpack it's totally fine. It's one and only loader for html files that I have in this project (webpack.dev works fine, webpack.prod for electron build fails). But failing build has target: 'electron-renderer' and MiniCssExtractPlugin.

[2021-03-13 18:56] alexander-akait commented on #379
You can't use `html-loader` for non standard HTML, we just can't parse it, you need other loader/type, I recommend to use `type: 'asset/source'` https://webpack.js.org/guides/asset-modules/

[2021-03-14 17:21] PabloDotcom commented on #379
@alexander-akait it works like a charm! Thank you very much! This approach leads to another problem.
When I have in my html markup: <img src="~shared/images/empty-avatar.png" /> of course doesn't resolve it anymore like html-loader. So the links are not resolved anymore. Do you have any advice for it?

[2021-03-15 11:41] alexander-akait commented on #379
@PabloDotcom Unfortunately not, you need a loader for this, we can't parse non standard HTML (we use `parse5` for parsing), so you need convert your code to html, maybe `parse5` have options to suppress it, we need to look at possible options

[2021-03-15 12:44] PabloDotcom commented on #379
@alexander-akait sure. For now I will probably import them on *component.ts code level and pass them to html via property.

[2021-03-15 12:51] alexander-akait commented on #379
Unfortunately `parse5` doesn't have options to allow using non HTML code, I think in this case you need to using `type: 'asset/source'` and maybe you can do like
[code]

So all URLs will be resolved

[2021-03-15 12:52] alexander-akait commented on #379
I am not familiar with angular syntax, sorry

[2021-03-15 12:56] PabloDotcom commented on #379
@alexander-akait yeah, this is approach that I mentioned in my previous comment :) If I will find another way to do it I will let you know.

[2021-03-15 14:44] Rush commented on #379
Hey guys .. this issue makes me feel confused and anxious about upgrading to latest html-loader in multiple projects.

So if I define a web component named `<ng-container>` would html-loader fail to parse it? This sounds like broken behavior. Custom tag names are a pretty standard thing these days. What difference does it make that it's a structural/internal tag name in Angular?

About `<img src="

[2021-03-15 14:55] alexander-akait commented on #379
@Rush `<ng-container>` tag doesn't exist in HTML spec, so we don't know how to parse it

[2021-03-15 15:12] Rush commented on #379
https://developer.mozilla.org/en-US/docs/Web/Web_Components
https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_templates_and_slots

See this exmaple https://codesandbox.io/s/web-components-using-vanilla-js-forked-c9xsk where I defined a custom `ng-container` web component.

[2021-03-15 15:14] Rush commented on #379
https://github.com/WICG/webcomponents

[2021-03-15 15:23] alexander-akait commented on #379
Somebody can provide simple case to reproduce, yep, looks it should be parser, maybe something wrong in markup, i.e. extra closing

[2021-03-16 11:48] phoenixadmin opened #380 "Module not found: Error: Can't resolve"
Hey there,

I have some trouble with `html-loader` after updating it. Are there any breaking changes that I have to take into account?
With version 1.3.2 everything works fine.

- webpack Version: 5.16.0
- html-loader Version: 1.3.2 => 2.1.2

### Expected Behavior

 html-loader generates correct index.html.

### Actual Behavior

Build ends up with:

[code]

### Code

[code]

Breaking part in index

[2021-03-16 12:05] alexander-akait commented on #380
Because `2.1.2` resolve `rel="apple-touch-startup-image"` so you need fix your URL to these images or ignore them using `urlFilter` (https://github.com/webpack-contrib/html-loader#object), please read CHANGELOG

[2021-03-16 12:05] #380 closed

[2021-03-22 06:44] elliotleelewis commented on #259
@alexander-akait Just curious if you have any timeline on getting this implemented? 😃

[2021-03-22 11:55] alexander-akait commented on #259
@elliotleelewis What is attribute you need?

[2021-03-22 12:47] elliotleelewis commented on #259
@alexander-akait The URL property in `style` attributes, like so:

[code]

[2021-03-22 12:51] alexander-akait commented on #259
Yep, try to find time on this at the end of month...

[2021-03-22 13:18] elliotleelewis commented on #259
Perfect, thank you!

[2021-03-28 11:01] paulo-coutinho commented on #291
Hi,

i tried all solutions here and nothing:

One:
[code]

Two:
[code]

Three:
[code]

Four:
[code]

Package.json:
[code]

Webpack (i tried all options on thread):
[code]

Can i get it work?

[2021-03-28 23:28] SamiDghim commented on #291
i downgrade to   "html-loader": "^0.5.5" and it works fine for me

[2021-03-29 02:05] laozei6401 commented on #291
webpack import hasn't been released yet

if you installed html-webpack-plugin. you can write <%= require(path)() %>

[2021-03-29 02:07] laozei6401 commented on #291
webpack-import pull了暂时没有发布
如果你安装了html-webpack-plugin,你可以这样写<%= require(路径)() %>

[2021-03-29 05:04] paulo-coutinho commented on #291
Hi @laozei6401,

I tried:

[code]

[code]

But it not render:
![image](https://user-images.githubusercontent.com/395096/112789215-f64df200-9032-11eb-9859-551558ebb9e9.png)

[2021-03-29 05:23] laozei6401 commented on #291
Sorry, it should be ejs-loader
![image](https://user-images.githubusercontent.com/17523519/112790419-e0234e80-9091-11eb-8eb0-ea291e4d8283.png)
![image](https://user-images.githubusercontent.com/17523519/112790348-bc600880-9091-11eb-8de2-7cf4741982d9.png)

[2021-03-29 05:54] paulo-coutinho commented on #291
I changed index.html and partials/header.html to "ejs".

The file was included, but the images are not showed:
<%= require("./partials/header.ejs")() %>

![image](https://user-images.githubusercontent.com/395096/112792474-eab1f980-9039-11eb-8b95-ceb12c9e922f.png)

[code]

[2021-04-05 02:47] axibyte opened #381 "Root relative path is not resolved using the resolve.roots"
According to the documentation at https://github.com/webpack-contrib/html-loader#roots server-relative URLs (starting with '/') should be resolved if resolve.roots is specified. But this is not working.

- Operating System: Windows 10
- Node Version: 12.18.0
- NPM Version: 6.14.4
- webpack Version: 5.30.0
- html-loader Version: 2.1.2

### Expected Behavior

Resolve server-relative URL by using the

[2021-04-05 12:15] alexander-akait commented on #381
Can you provide simple repo? Works fine locally...

[2021-04-08 03:25] paulo-coutinho commented on #291
It was published?

[2021-04-08 10:51] alexander-akait commented on #291
No, it is WIP

[2021-04-15 23:50] nihey commented on #368
I faced the same issue, it seems Webpack's [Asset Modules](https://webpack.js.org/guides/asset-modules/) is somehow conflicting with `file-loader` (I'm not sure though)

But in anyway, adding a `dependency: { not: ['url'] }`, disabling Webpack's Asset Modules for `file-loader` fixed my issue:

[code]

[2021-04-16 11:19] alexander-akait commented on #368
@nihey Why do you use `file-loader`?

[2021-04-16 13:45] nihey commented on #368
@alexander-akait I could not manage to get my build working with `asset/resource` during an webpack upgrade. But it was actually my fault (another thing was broken on my configurations), changing the rule to:

[code]

Actually solved the issue and I can now remove `file-loader` from my project's dependencies.

[2021-04-16 13:46] alexander-akait commented on #368
Great, avoid using `file-loader` and `url-loader`, less deps === less problems

[2021-04-27 01:20] ericalli commented on #291
Same here! Did you have any luck figuring this out?

[2021-04-28 11:12] alexander-akait commented on #291
In our roadmap, we are working on new release css-loader + style-loader/mini-css-extract-plugin, then we improve it

[2021-05-10 03:31] xfg commented on #291
My case too. I don't understand how to use webpack to embed SVG in HTML templates. Webpack documentation does not provide a clear answer.

[2021-05-15 12:05] webpack-bot opened #383 "html-loader with Webpack v5 is unable to load html template"
# Bug report

**What is the current behavior?**
I'm trying to replace my old templateCache way of loading templates favoring html-loader, which is unable to load them, on build webpack is saying "currently no loaders are configured to process this file"

ERROR in ./src/app/views/templates/dataGrid.html 1:0
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle thi

[2021-05-15 12:06] alexander-akait commented on #383
@ManoharChennuru Can you provide reproducible test repo or configuration?

[2021-05-15 20:32] ManoharChennuru commented on #383
Here you go.... https://github.com/ManoharChennuru/angularjs-webpack-html-loader

[2021-05-15 23:03] ManoharChennuru commented on #379
It seems img tag not being closed properly. Can it be a concern for the parser?

[2021-05-15 23:49] Rush commented on #379
Not closing some tags is legal in HTML5 https://stackoverflow.com/a/3558200/403571

[2021-05-16 08:37] ManoharChennuru commented on #379
@Rush, that is TRUE.

My point is whether the parse5 is honoring them or not. Most modern browsers do, but I'm not sure if it is the case with parse5.

Sorry if my point is baseless.

[2021-05-16 19:44] Rush commented on #379
Seems to work fine https://astexplorer.net/#/1CHlCXc4n4

[2021-05-17 12:18] alexander-akait commented on #379
Without example of code I can't help :disappointed:

[2021-05-17 14:51] alexander-akait commented on #383
Change `test: /\.html$i/,` to `/\.html$/i`, be careful in future with regexp

[2021-05-17 14:51] #383 closed

[2021-05-17 16:52] ManoharChennuru commented on #383
What a shame. Sorry I had wasted your time. Yeah I did try multiple loader in place place of html-loader and even tried to fall back to templateCache way of accessing templates, but missed this silly but important line.

Thank you for panting my mistake.

[2021-05-17 16:53] ManoharChennuru commented on #383
Yes it is working as expected.

[2021-05-20 10:26] adyrose commented on #291
Just to chime in here, some people are not looking for "templating" as such. Sometimes i have projects which have tons of content and the HTML file ends up being huge and hard to maintain. This interpolate option really helped me "break" the content down into smaller manageable html chunks and was a really really nice feature. I purely used it for this functionality. I do not understand why, if yo

[2021-05-21 11:39] uncaught commented on #291
We heavily use this for other HTML files, SVGs and also css class names generated by the css-loader, e.g.:

[code]

So an upgrade for us is not possible without a replacement.

Will the `<webpack-include/>` support such css class names, too?

[2021-05-21 13:56] GMartigny opened #385 "Remove examples using the extract-loader"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The `extract-loader` don't support webpack 5, which is mandatory to use `html-loader@2`. Sadly, it seems to be [unmaintained](https://github.com/peerigon/extract-loader/issues/107) and many user are [falling into the issue](https://github.com/peerigon/extract-loader/issues/102).

### You

[2021-05-21 13:58] alexander-akait commented on #385
Yes, but I think we can implement `extract` option for this loader

[2021-05-22 09:32] GMartigny commented on #385
Even better !
Should I change the issue description ?

[2021-05-22 13:13] alexander-akait commented on #385
Yes, let's change it

[2021-05-25 08:34] remotemerge commented on #139
@brettinternet @alexander-akait
The documentation for `meta` is not correct. You cannot access `attributes` (i.e. array) values this way. Here is my fix...
The meta tags
[code]
and Webpack config
[code]

[2021-05-25 08:59] alexander-akait commented on #139
you are right https://github.com/webpack-contrib/html-loader/blob/master/src/plugins/sources-plugin.js#L60, can you send a PR and help?

[2021-05-30 12:52] mattp0123 opened #386 "How to trigger re-compile if partial changed?"
I'm using this example from [Webpack doc](https://webpack.js.org/loaders/html-loader/#templating).

This is my Webpack config:
[code]
If I make some changes to the nav partial html, the file won't be re-processed in webpack dev server watch mode.
Is there any proper way to do that?

[2021-05-31 13:35] alexander-akait commented on #386
You need `loaderContext.addDependecy('/absolute/path/to/file.ext')`

[2021-05-31 15:52] mattp0123 commented on #386
@alexander-akait Thanks for the reply!
I got this error message:
[code]

[2021-05-31 15:56] alexander-akait commented on #386
oh, sorry, typo, `loaderContext.addDependency("/absolute/path/to/file.ext")`

[2021-06-01 08:29] mattp0123 commented on #386
It works. Many thanks!

[2021-06-01 08:29] #386 closed

[2021-06-17 08:10] zhijs opened #389 "when to publish tag on 'fix(getOptions): deprecation change'"
- Operating System: mac os
- Node Version: v10.16.0
- NPM Version:  6.9.0
- webpack Version: 4.41.28
- html-loader Version: 2.1.2

### Expected Behavior
build success when import .html file

### Actual Behavior
got error:

ERROR in ./dist/index.html
Module build failed (from ./node_modules/html-loader/dist/cjs.js):
TypeError: this.getOptions is not a function

### Code

[code]

[code]

### How Do

[2021-06-17 12:34] alexander-akait commented on #389
You need webpack v5 to use the latest version of `html-loader`

[2021-06-17 12:34] #389 closed

[2021-07-11 13:13] AndreiLe commented on #291
Another option to replace `interpolate`
`<%= require('html-loader?interpolate=true&minimize=false!./path-to-html.html') %>`

Added directory and root path support  https://github.com/webpack-contrib/html-loader/issues/291#issuecomment-721909576

Unfortunately `html-loader` and `html-webpack-plugin` are **incompatible** and lodash template in  html-webpack-plugin `<% =%>` doesn't work.

###  index.

[2021-07-18 10:28] ekeydar opened #392 "Style attribute with expansion variable is omitted when minimized"
- Operating System: ubuntu 20.04
- Node Version: 16.3.0
- NPM Version: 7.15.1
- webpack Version: 5.45.1
- html-loader Version: 2.1.2

### Expected Behavior

style attribute should not be modified

### Actual Behavior

style attribute is modified, and we loose the variable

### Code

https://gist.githubusercontent.com/ekeydar/8c91ff74678b16eefdedf524fd7a65e3/raw/db9b54ac74079d1b17c535419bf50789f057

[2021-07-19 11:18] alexander-akait commented on #392
Because you have non standard HTML, in this case you need to change options for minimize

[2021-07-19 12:55] ekeydar commented on #392
OK. Thanks. Fair enough.

[2021-07-19 12:55] #392 closed

[2021-08-05 14:21] #381 closed

[2021-08-11 12:40] VocalFan opened #398 "Favicon: Module not found"
- Operating System: Ubuntu 14.04 (Netlify)
- Node Version: 16.6.1
- NPM Version: 7.20.3
- webpack Version: 5.49.0
- html-loader Version: 2.1.2 (upgrading from 1.3.2)

### Expected Behavior

The build will properly compile.

### Actual Behavior

The html-loader throws an error on the favicons. "Module not found"

### Code

https://gist.github.com/Mou-Ikkai/181dfe5ceba6b0f40fe368083b5aab61

### How

[2021-08-12 10:55] alexander-akait commented on #398
Because you have invalid path to your favicons, webpack can't resolve them

[2021-08-12 11:19] Mou-Ikkai commented on #398
But how so? It seems like a path you would use in a normal site? Besides, it'd show the favicon on the site when I didn't use the updated html-loader?
[index.html](https://github.com/saricden/no-place-like/blob/master/src/index.html)

[2021-08-13 10:15] chishuix opened #399 "After upgrading from v1.3.2 to v2.1.2, <%= require("html-loader!x.html") %> is not available."
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

When I use the v1.3.2 version, using this code can get the correct display.

`<%= require("html-loader!/src/components/_topbar.html") %>`

I checked the document before upgrading the version, and the wording has not changed, so I upgraded the version.

But when I upgraded to v2.1.2, usin

[2021-08-13 12:41] alexander-akait commented on #399
Duplicate https://github.com/webpack-contrib/html-loader/issues/291

[2021-08-13 12:41] #399 closed

[2021-08-13 18:10] niemyjski opened #400 "Parse errors with html content containing <"
- Operating System:  macOS 11.5.2, Windows 10
- Node Version: 16.6.2
- NPM Version: 7.20.3
- webpack Version: 5.50.0
- html-loader Version: 2.1.2

We upgraded from 0.4.5 to 2.1.2 and I'm thinking this has to do with parse5. Binding syntax below is vuejs. Is there a way to escape angle brackets inside of a binding expression? I know for markup I can escape with HTML entities, but not for expression

[2021-08-14 10:28] YounessBird opened #401 "this.getOptions is not a function"
- Operating System:macOS
- Node Version: 12.13.0
- NPM Version: 6.12.0
- webpack Version: 4.5.0
- html-loader Version: from v2.0.0 to v2.1.2

### Expected Behavior

Compile without errors

### Actual Behavior

Failed to compile with 1 errors

### Code

[code]

###  How Do We Reproduce?
use webpack 4.5.0 with html-loader Version: from v2.0.0 to v2.1.2
npm run dev

###  Potential solution
npm instal

[2021-08-15 16:43] alexander-akait commented on #401
You need webpack v5 to use the latest version, please consider to update webpack

[2021-08-15 16:43] #401 closed

[2021-08-15 16:55] alexander-akait commented on #400
Because it is HTML loader, your code is not HTML and do not valid, so parser failed

[2021-08-15 16:55] #400 closed

[2021-08-15 16:57] niemyjski commented on #400
Specifying < in inner text is valid html....

[2021-08-15 17:01] alexander-akait commented on #400
We don't have magic here https://github.com/webpack-contrib/html-loader/blob/master/src/plugins/sources-plugin.js#L13

[2021-08-15 17:01] alexander-akait commented on #400
If parser can't parse it, we can't work, if you think it is valid code please open an issue in `parse5` package, we can't fix it here

[2021-08-20 11:07] meftunca commented on #398
I faced the same issue after the last upgrade. The working build no longer works. What has changed in the last update? Let's organize our projects according to changing situations

[2021-08-23 03:42] KID-1912 opened #402 "params “source: false” is falied"
I have set params
`options: {
sources: false,
}`
but error message:

ERROR in   Error: Child compilation failed:
  Module parse failed: Unexpected token (3:44)
  File was processed with these loaders:
   * ./node_modules/html-loader/dist/cjs.js
   * ./node_modules/html-loader/dist/cjs.js
  You may need an additional loader to handle the result of these loaders.
  | // Imports
  | import ___HTML_LO

[2021-08-23 03:43] KID-1912 commented on #402
How do I fix it?

[2021-08-23 12:31] alexander-akait commented on #402
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-08-23 12:31] #402 closed

[2021-08-28 05:55] shoaibsharif commented on #385
Very interested to see this feature. I was trying to extract image, style and js, but keep getting error on those.

[2021-09-26 19:25] calebTree opened #404 "remove documentation of use cases involving extract-loader"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

Is it a wild goose chase to document a use case with `extract-loader` when that is obsolete?

### Your Proposal for Changes
Remove obsolete mentions of `extract-loader`

[2021-09-28 14:02] ArishAzmat commented on #379
My issue after installing html loader was it gives an error that this.getOptions() is not defined. which literally not defined in or called in the file it was written on. I found a cheap solution to that i copied the function from my loader-utilities library and past it there  which works fine now but it wont work on automation deploys since the node modules gets reinstalled.

NEED A PERMANENT SOL

[2021-09-30 14:11] calebTree commented on #404
Wonderful.

[2021-10-14 00:31] scottohara opened #405 "When extending default sources, tag is not optional"
(I wasn't sure if this should be a bug report or a documentation issue.  I guess it depends on whether the outcome ends up being a fix to the docs, or a fix to the code)

### Bug report

According to the documentation for `options.sources.list`:

and...

### Actual Behavior

When extending the default sources (`"..."`), omitting `tag` from any overrides does not work:

[code]

[code]

### Expected

[2021-11-02 15:03] #405 closed

[2021-11-02 15:06] alexander-akait commented on #398
@Mou-Ikkai Do you have a problem? Can I help you?

[2021-11-19 02:23] tremby commented on #385
Is there a way to make extraction work at present?

[2021-12-21 22:05] ChocolateLoverRaj opened #411 "Emits seperate js file even when target is `webworker` and max chunks is 1"
### Bug report
I'm making a [Vscode extension which usea a webview](https://code.visualstudio.com/api/extension-guides/custom-editors#custom-text-editor). I'm using webpack to create the file `extension.js`. I want to import an html file as a string, and also bundle scripts as part of the html string. I'm using `html-loader`. What's happening is that `html-loader` is not bundling the `<script src=

[2021-12-22 11:13] alexander-akait commented on #411
You need loader for js inside HTML to do it

[2021-12-22 13:03] rofrol opened #412 "Readd root as webpack resolve.roots does not allow conditionally resolve"
### Feature Proposal

Readd root as webpack `resolve.roots` does not allow conditionally resolve.

`root` was removed in https://github.com/webpack-contrib/html-loader/pull/341.

### Feature Use Case

In `html-loader@0.5.1` I could have these rules:

[code]

Now I just have resolve.roots which does not allow me to conditionally resolve.

### Please paste the results of `npx webpack-cli info` here,

[2021-12-22 13:26] alexander-akait commented on #412
You don't need `root` and it was bad solution, webpack has own roots in `resolve.roots` https://webpack.js.org/configuration/resolve/#resolveroots and html-loader use them

[2021-12-22 13:28] alexander-akait commented on #412
If you have different URLs in your each template, please fix your tool to generate valid URLs, we don't design to fix wrong generated `src`/etc

[2021-12-22 20:20] ChocolateLoverRaj commented on #411
How do you do that? Can you please give an example?

[2021-12-23 10:37] alexander-akait commented on #411
You need to use `issuer` and set loader for inline scripts, you can use `base64` for example for better compressing

[2021-12-23 15:55] ChocolateLoverRaj commented on #411
@alexander-akait Thanks. I got it to work in the vscode extension, but couldn't make a minimum reproducable example that fixes it.

[2021-12-24 12:01] alexander-akait commented on #411
Can you clarify?

[2021-12-24 22:13] ChocolateLoverRaj commented on #411
Here is my attempt: https://replit.com/@Programmerraj/html-loader-bundle-with-issuer#index.js

[2021-12-25 10:01] fretfan opened #413 "Possibility to extend default 'minimize' options"
### Feature Proposal
Make it possible to extend default 'minimize' options when defined as object, without repeating all other default options
### Feature Use Case
Currently to change removeComments to false I need this snippet of code:
[code]
With this feature it could look something like this:
[code]
Or can try implementing something similar to '...' syntax here: https://webpack.js.org/plugins/m

[2021-12-25 13:51] alexander-akait commented on #413
You already can do it, you don't need to set all options, because "html-minifier-terser" do it

[2021-12-26 17:52] fretfan commented on #413
https://github.com/webpack-contrib/html-loader#boolean-1
I mean, if you use `minimize: true `- defaults above are applied, but if `minimize: {collapseWhitespace: false}` used, only `collapseWhitespace: false` applied, all other defaults are not applied.

[2021-12-27 09:44] alexander-akait commented on #413
hm, I think we should open an issue in `html-minifier-terser`, because it should be default behavior

[2021-12-29 21:09] fretfan commented on #413
`html-minifier-terser` has different defaults (mostly everything disabled) https://github.com/terser/html-minifier-terser/tree/v6.0.2#options-quick-reference

I found where defaults are set in html-loader code: https://github.com/webpack-contrib/html-loader/blob/v3.0.1/src/utils.js#L499

[2021-12-30 10:24] alexander-akait commented on #413
Oh, yes, by default `html-minifier-terser` is not safe to use, I think we can export it and you can extend them using `{ ...htmlLoaderMinimizerOptions, yourOptions: true }`, feel free to send a PR

[2022-01-08 15:28] #413 closed

[2022-01-08 22:13] eamodio commented on #413
@alexander-akait wouldn't it be a better experience if this were just the default behavior? Instead of users having to know to import and mix in the defaults themselves?

For example, changing the following like to something like the code below?
https://github.dev/webpack-contrib/html-loader/blob/eb4297da5702867dc835329ff1c1d871be6e70bc/src/index.js#L41-L42

[code]

[2022-01-10 10:48] alexander-akait commented on #413
Yep, it will be better, but it will be breaking change, we can add TODO for the next major release

[2022-01-23 21:54] ZeldOcarina commented on #385
up

[2022-02-09 19:13] wprogeye commented on #379
Maybe this will help someone.
I got a similar error in my Angular project when running unit tests. I use html-loader in my webpack config. This error appeared after updating the version of Angular from 10 to 13. Analysis of the build revealed that the problem is in the loader, which was added in the commit https://github.com/angular/angular-cli/commit/f4cd6848555cd44b6a327aa936951282891a2b52. I fi

[2022-02-21 07:51] azan-n opened #422 "require(...) is not a function - PostHTML"
### Bug report

Similar to https://github.com/posthtml/posthtml-loader/issues/132 using PostHTML causes the following error:

I'm guessing this is a problem with PostHTML itself. I've tried using both `posthtml().use().process()` and `posthtml.process()` with no avail, every syntactic approach just leads to the require related error.

[code]
### Actual Behavior

Every time I use PostHTML in `modul

[2022-02-28 23:42] langri-sha commented on #404
What is the alternative, though?

[2022-03-01 22:49] langri-sha commented on #404
:point_up: ok, looks like for CSS [experiements.css](https://webpack.js.org/configuration/experiments/#experimentscss) seems to be a great direction.

[2022-03-03 11:44] moonspam commented on #291
Try this

[2022-04-21 05:07] yadunandanbhat opened #430 "David and HTML Loader badges are broken"
Documentation Is:
the html-loader and the david badges are broken.

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

See the below image.
![image](https://user-images.githubusercontent.com/54680617/164375875-7dbb3d0a-fa00-4307-816c-75931751bb65.png)
https://david-dm.org/webpack-contrib/html-loader is down (see [alanshaw/david#182](https://github.com/alan

[2022-04-21 05:10] alexander-akait commented on #430
PR welcome, you can send PRs without open issues, it is broken so let's remove

[2022-04-21 05:16] yadunandanbhat commented on #430
will open a pr right away!

[2022-04-21 05:22] yadunandanbhat commented on #430
There's also a image link that's broken. In the readme its "https://worldvectorlogo.com/logos/html5.svg" but it goes to "https://cdn.worldvectorlogo.com/logos/html5.svg", shall i update that too?

[2022-04-21 06:32] yadunandanbhat commented on #430
I've opened a PR. Please accept the workflow and review the changes

[2022-04-21 13:11] alexander-akait commented on #430
Fixed

[2022-04-21 13:11] #430 closed

[2022-04-25 08:52] F21 commented on #385
Is there currently any way or a work around to export to HTML files? The instructions in the [readme](https://github.com/webpack-contrib/html-loader#export-into-html-files) don't seem to work, probably due to `extract-loader` being unmaintained and incompatible.

My use-case is pretty simple. I have a bunch of [mjml](https://mjml.io) files and I want to use `html-loader` to parse each mjml file an

[2022-06-15 19:18] alexander-akait commented on #422
Please use `use`, there is error's message, sorry, we can't fix it here

[2022-06-15 19:18] #422 closed

[2022-06-15 19:19] #412 closed

[2022-06-27 08:42] echolimazulu opened #446 "ignoring noscript"
### Bug report

### Actual Behavior

### Expected Behavior

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information
___
**Hello html-loader developers,**

Today I noticed that the content of supported tags wrapped in `noscript` is **completely ignored** and not available for creating html-loader imports to pass them to the next

[2022-06-27 08:49] echolimazulu commented on #446
@alexander-akait Hello! I would be glad to know your vision on this issue. Thank you!

[2022-06-27 11:31] echolimazulu commented on #446
Hello Alexander,

Thanks for your answer and thanks for the solution you suggested.

I tested this before, but unfortunately it didn't work.

I mean the following changes that I made manually (`sources-plugin.js`):

[code]

[2022-06-27 11:41] alexander-akait commented on #446
hm, strange, looks like parse5 doesn't out AST (example https://astexplorer.net/#/gist/94acd53dbf527e8f8f735b5a28053ab0/3ba4cb0c2a734d61e0b868b6c3b879d509149472), that is why we don't handle it, when `scriptingEnabled` is `false` (not `true`) it should output contents of `noscript` as AST, not as text

[2022-06-27 11:52] alexander-akait commented on #446
@echolimazulu I think we should add this option to our loader (so feel free to send a PR), and maybe set to `true` by default for the next major release

[2022-07-05 20:20] echolimazulu commented on #446
@alexander-akait Good evening, Alexander,

I apologize for such a long response on my part. I proposed a solution in a **PR**: https://github.com/webpack-contrib/html-loader/pull/448

Unfortunately, I don't want to sign the Linux Foundation's CLS for signing the PR, besides, he fills out the form incorrectly with the specified e-mail, which I also reported to them.

Happy to help resolve this issu

[2022-07-09 06:56] echolimazulu commented on #446
@alexander-akait Good morning, Alexander,

With CLA, the issue is resolved, PR is ready for consideration.

Glad to interact with you.

[2022-07-11 17:22] alexander-akait commented on #446
Fixed https://github.com/webpack-contrib/html-loader/pull/448, thank you again

[2022-07-11 17:22] #446 closed

[2022-07-12 14:39] vtulin commented on #379
@wprogeye Could you please share some code?
I can't make it work html-loader crashes with directTemplateLoading=false
Thank you

[2022-07-30 02:08] Murka007 opened #451 "DIfferent behavior in development and production modes"
Why in development mode when I import `html` file it logs out my source `index.html` file and builded version of my source.

[code]

In **development** mode, `index.html source + builded version`
<img src="https://user-images.githubusercontent.com/54054900/181866107-59679faa-20c9-4fd7-829e-97cb2a0181fc.png" height="200"/>

In **production** mode, `index.html source only`
<img src ="https://user-im

[2022-07-30 02:20] #451 closed

[2022-07-30 02:21] Murka007 commented on #451
This is just a comment, I found how I can remove it

[2022-08-01 05:21] Vanillma opened #452 "Two Created Files"
### Bug report

### Actual Behavior

Hello
I have been trying to use Webpack for several days.
And I encountered a problem in configuring.
The problem is that during construction... two .js files are created... one with a complete hash and one with my desired name... after many tests, I realized that this behavior is created by the html loader.. And there is no way to turn it off... I opened an is

[2022-08-04 20:37] buchatsky commented on #203
Still need to set `esModule: false` in order to make angular AOT to work with img

[2022-08-10 14:13] alexander-akait commented on #452
Please remove `<script src="index.js"></script>` from your HTML file, `HtmlWebpackPlugin` automatically insert `script` tag with URL, because your entyripoint is JS file, otherwise webpack handle one JS file in entrypoint and the send in `script` tag

[2022-09-13 03:31] pseusys commented on #385
What is the progress?

[2022-09-13 03:35] alexander-akait commented on #385
Somebody can provide example how you use `html-loader` and need extract, I have two solutions here, but they are different and can be used for different things, so I want to see the most popular usage

[2022-09-13 10:07] StudioMaX commented on #385
A simple example from Webpack 4:
[code]
- use `html-loader` to replace the paths to the assets in the EJS template
- return back to text version of EJS template
- use `ejs-loader` to convert a text template into an object (in this case, the EJS template engine from lodash is used)

`ejs-loader` is used last because exported object from the EJS templating engine is imported somewhere, and is called

[2022-09-13 11:36] pseusys commented on #385
I have a `html` file in my targets and would like to process it, save to file and extract images (`img` `src` tags) to separate directory.

[code]

Solution, described in `extract-loader` readme is not working (anymore):
[code]
Apparently, `extract-loader` tries to extract `hi.jpg` as a ES module and fails.

[2022-09-14 11:28] alexander-akait commented on #385
@pseusys Why don't use `main.css` as entry point (it will be better optimized and compressed)?

@StudioMaX Weird, I think `ejs-loader` can (should) support `src`/`srcset`/etc resolving

[2022-09-14 11:59] pseusys commented on #385
@alexander-akait because image is referenced as `src` attribute of `img` tag in html, and not in CSS.
As far as I know, one cannot set `src` via CSS. And I don't want to change that too...

[2022-09-15 00:40] alexander-akait commented on #385
@pseusys In this case you lose assets optimizations...

[2022-09-15 01:04] pseusys commented on #385
@alexander-akait I thought it would be easier to process the assets by extracting them from HTML files.
However you're right, if it's not possible I think I should consider replacing <img> tags with e.g. <a> tags with `background-image` property set via CSS.

[2022-09-15 21:02] alexander-akait commented on #385
I am think thinking you `ejs-loader` should support `src`/etc resolving and create assets for them not only compile them, anyway you can try:
1. Use HtmlWebpackPlugin with the template option and set `ejs` as transformer
2. Use CopyWebpackPlugin and use the transform function too so you don't need to extract them and they will be optimized in the production build, but here limitations - no resolvi

[2022-09-29 07:34] oodzchen commented on #185
I still meet this problem in webpack5, my alias config is
[code]

And i use [ejs-template-loader](https://github.com/dc7290/template-ejs-loader) with `html-loader` to handle the html code. The html code is
[code]
which cause the error

If I change the image path to `../image/logo.png`, it works fine. But the alias is more helpful for me to avoid the path converting problem, how can i make it work?